{% extends 'base.html' %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{{ game.cover_image.url }}" class="img-fluid rounded" alt="{{ game.title }}">
    </div>
    <div class="col-md-8">
        <h1>{{ game.title }}</h1>
        <p class="text-muted">Разработчик: {{ game.developer }} | Издатель: {{ game.publisher }}</p>
        
        <div class="mb-3">
            {% for genre in game.genres.all %}
            <span class="badge bg-secondary me-1">{{ genre }}</span>
            {% endfor %}
        </div>
        
        <h3 class="text-success">{{ game.price }} ₽</h3>
        
        <button class="btn btn-primary btn-lg mt-3">Купить</button>
        
        <div class="mt-4">
            <h4>Описание</h4>
            <p>{{ game.description }}</p>
        </div>
    </div>
</div>
{% endblock %}